/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import './assets/styles/variables.scss';
// $corecolor: green;

html,body{
    margin: 0;
    padding:0;
    background-color: $backgroundcolor;
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.flex{
    display: flex;

    &-center{
        justify-content: center;
        align-items: center;

    }
}